node_modules/
.pnpm-store/
pnpm-lock.yaml
package-lock.json
yarn.lock
.DS_Store
Thumbs.db
package.json
.output/
dist/
.nuxt/

types/
.nuxt/types/

public/
static/
.cache/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example

coverage/
.tmp/
temp/
.idea/
.vscode/
*.min.js
*.map